name: Add issues to Quansight project

on:
  issues:
    types:
      - opened

concurrency:
  group: ${{ github.workflow }}-${{ github.event.issue.number }}
  cancel-in-progress: false

permissions: {}

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/add-to-project@244f685bbc3b7adfa8466e08b698b5577571133e # v1.0.2
        with:
          project-url: https://github.com/orgs/JupyterEverywhere/projects/1
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
